defaults:
  - predictor: botorch_gp
  - query_strategy: botorch_qlog_nei
  - initial_selection_strategy: core_set
  - transforms@feature_transforms: standardize
  - transforms@target_transforms: log_standardize
  - _self_
  - seed_mode: array
  - override hydra/launcher: submitit_slurm

# data paths
datasets_file: datasets/1m_base_datasets.yaml
single_array_across_datasets: true
dataset_index: ${env:AL_DATASET_INDEX,0}
dataset_name: ${dataset_field:${datasets_file},${dataset_index},name}
metadata_path: ${dataset_field:${datasets_file},${dataset_index},metadata_path}
embedding_dir: ${dataset_field:${datasets_file},${dataset_index},embedding_dir}
embedding_model: enformer_evo2_concat
embedding_path: ${embedding_dir}/${embedding_model}.npz
subset_ids_path: ${dataset_field:${datasets_file},${dataset_index},subset_ids_path,null}

# number of random seeds to run for each active learning experiment
num_seeds_per_job: 50
seed_start: 0
parallelize_seeds: true

# active learning settings
al_settings:
  batch_size: 12
  starting_batch_size: 12
  max_rounds: 29 # not including the initial selection
  feature_transforms: ${feature_transforms}
  target_transforms: ${target_transforms}
  output_dir: ${hydra:runtime.output_dir}
  query_strategy: ${query_strategy}
  label_key: "or_score"
  predictor: ${predictor}
  initial_selection_strategy: ${initial_selection_strategy}
  seed: 0

# hydra settings
hydra:
  sweep:
    subdir: ${dataset_name}/${override_values:${hydra.job.override_dirname},dataset_index|single_array_across_datasets|al_settings.seed,default}
  sweeper: # multirun mode sweeps over these parameters
    params:
      initial_selection_strategy: core_set
      embedding_model: enformer_pca32, evo2_meanpool_block28_pca8, one_hot_pca3200
      query_strategy: botorch_qlog_nei
      predictor: botorch_gp
  launcher:
    timeout_min: 360
    # everything below is used only for submitting jobs to the cluster
    partition: intel-sc3,wzt_20250411 # no spacing between names
    cpus_per_task: 1
    qos: huge
    mem_per_cpu: 30GB
    submitit_folder: slurm_logs
