defaults:
  - predictor: ridge_regressor
  - query_strategy: topk
  - initial_selection_strategy: random
  - _self_
  - override hydra/launcher: submitit_local

embedding_path: embeddings.npz
metadata_path: expressions.csv

seed: 42

al_settings:
  # Fixed (non-swept)
  batch_size: 8
  max_rounds: 2
  normalize_features: true
  normalize_labels: true
  output_dir: ${hydra:runtime.output_dir}
  query_strategy: ${query_strategy}
  label_key: expressions
  predictor: ${predictor}
  initial_selection_strategy: ${initial_selection_strategy}
  seed: ${seed}

hydra:
  sweep:
    subdir: ${hydra.job.override_dirname}
  sweeper:
    params:
      # query_strategy: topk, random
      # predictor: rf_regressor, mlp_regressor
      # initial_selection_strategy: random, kmeans
      seed: 1, 2
  # launcher:
  #   timeout_min: 240
  #   partition: wzt_20250411,intel-sc3
  #   cpus_per_task: 8
  #   mem_per_cpu: 8GB
  #   qos: huge
  #   submitit_folder: logs_experiments
