defaults:
  - predictor: ridge_regressor
  - query_strategy: topk
  - initial_selection_strategy: random
  - transforms@feature_transforms: standardize
  - transforms@target_transforms: log_standardize
  - paths: paths
  - _self_
  - override hydra/launcher: submitit_local

embedding_path: ${env:AL_EMBEDDING_PATH,${paths.embedding_file}}
embedding_name: ${path_stem:${embedding_path}}
metadata_path: ${paths.metadata_file}

seed: 42

al_settings:
  batch_size: 8
  starting_batch_size: 8
  max_rounds: 20
  feature_transforms: ${feature_transforms}
  target_transforms: ${target_transforms}
  output_dir: ${hydra:runtime.output_dir}
  query_strategy: ${query_strategy}
  label_key: "Fold Change (Induced/Basal)"
  predictor: ${predictor}
  initial_selection_strategy: ${initial_selection_strategy}
  seed: ${seed}

hydra:
  sweep:
    subdir: ${embedding_name}/${hydra.job.override_dirname}
  sweeper:
    params:
      initial_selection_strategy: random
      query_strategy: random
      predictor: ridge_regressor
      seed: 1, 2, 3
  # launcher:
  #   timeout_min: 240
  #   partition: wzt_20250411,intel-sc3
  #   cpus_per_task: 8
  #   mem_per_cpu: 8GB
  #   qos: huge
  #   submitit_folder: logs_experiments
