defaults:
  - predictor: ridge_regressor
  - query_strategy: topk
  - initial_selection_strategy: random
  - _self_
  - override hydra/launcher: submitit_local

embedding_path: embeddings.npz
metadata_path: expressions.csv

al_settings:
  # Fixed (non-swept)
  initial_sample_size: 8
  batch_size: 8
  max_rounds: 2
  normalize_features: true
  normalize_targets: true
  output_dir: results/demo_experiment
  query_strategy: ${query_strategy}
  target_val_key: expressions
  predictor: ${predictor}
  initial_selection_strategy: ${initial_selection_strategy}
  seed: 42

hydra:
  sweeper:
    params:
      # query_strategy: topk, random
      # predictor: rf_regressor, mlp_regressor
      # initial_selection_strategy: random, kmeans
      al_settings.seed: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10
  # launcher:
  #   timeout_min: 240
  #   partition: wzt_20250411,intel-sc3
  #   cpus_per_task: 8
  #   mem_per_cpu: 8GB
  #   qos: huge
  #   submitit_folder: logs_experiments
