defaults:
  - predictor: ridge_regressor
  - query_strategy: topk
  - initial_selection_strategy: random
  - transforms@feature_transforms: standardize
  - transforms@target_transforms: log_standardize
  - _self_
  - override hydra/launcher: submitit_local

embedding_path: embeddings.npz
metadata_path: expressions.csv

seed: 42

al_settings:
  batch_size: 8
  starting_batch_size: 8
  max_rounds: 20
  feature_transforms: ${feature_transforms}
  target_transforms: ${target_transforms}
  output_dir: ${hydra:runtime.output_dir}
  query_strategy: ${query_strategy}
  label_key: expressions
  predictor: ${predictor}
  initial_selection_strategy: ${initial_selection_strategy}
  seed: ${seed}

hydra:
  sweep:
    subdir: ${hydra.job.override_dirname}
  sweeper:
    params:
      initial_selection_strategy: kmeans
      seed: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30
  # launcher:
  #   timeout_min: 240
  #   partition: wzt_20250411,intel-sc3
  #   cpus_per_task: 8
  #   mem_per_cpu: 8GB
  #   qos: huge
  #   submitit_folder: logs_experiments
