defaults:
  - override hydra/launcher: submitit_local

data_paths: /storage2/wangzitongLab/lizelun/project/gene_circuit_design/data_new/166k/evo2/cis_grouped_safetensors/CIS_1-1-1-1.safetensors

pipeline_params:
  # Fixed (non-swept)
  initial_sample_size: 8
  batch_size: 8
  test_size: 30
  max_rounds: 20
  normalize_expression: true
  normalize_input_output: true
  no_test: true
  output_dir: results/demo_experiment
  strategy: HIGH_EXPRESSION
  seq_mod_method: embedding
  target_val_key: expressions
  regression_model: linear
  seed: 1

hydra:
  sweeper:
    params:
      pipeline_params.strategy: HIGH_EXPRESSION, RANDOM
      pipeline_params.regression_model: LINEAR, RANDOM_FOREST, MLP
      pipeline_params.seed: 1, 2, 3
  # launcher:
  #   timeout_min: 240
  #   partition: wzt_20250411,intel-sc3
  #   cpus_per_task: 8
  #   mem_per_cpu: 8GB
  #   qos: huge
  #   submitit_folder: logs_experiments
